<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5da56f76a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/templates/HTML/CSS/mystyle.css">
    <title>User Profile Templates</title>
    
</head>
<body>
    
    <nav>
        <div >

            <div class="avatar">
                <img src="/img/avatar.png" alt="Avatar">
            </div>

            <div class="nav">
                <p><i class="far fa-comment-alt"></i> Feed</p>
                <p><i class="far fa-compass"></i> Explore</p>
                <p><i class="far fa-envelope"></i> Messages</p>
                <p><i class="far fa-bell"></i> Notifications</p>
                <p><i class="far fa-image"></i> Photos</p>
                <p><i class="fas fa-video"></i> Videos</p>
                <p><i class="fas fa-map-marker-alt"></i> Places</p>
                <p><i class="fas fa-user-cog"></i> Settings</p>
            </div>
        

        
        </div>
    </nav>
        

    
</body>
</html>